.img{
    width: 80%;
    height: 80%;
}

.container{
    padding-top:4rem;
    padding-bottom:4rem;
}

.Info{
    font-style: normal;
    color: #191d3d;
    font-weight: 400;
    margin-top: 2rem;
}

.button{
    padding-left: 1rem;
}
