.container{
    height:100vh;
    display: flex;
}
.sizeLogin{
    padding :20px;
    height:32vh;
    width:350px;
    margin:20px auto;
}
.navigate{
    padding-top: 10px;
}
.item{
    display: flex;
    margin: auto;
    top:0;
    bottom: 0;
    left:0;
    right:0;

}
.forget, .login{
    float: left;
}
.navigateForget{
    padding-top: 20px;
}
.sizeReset{
    padding :20px;
    height:40vh;
    width:350px;
    margin:20px auto;
}
.sizeForget{
    padding :20px;
    height:28vh;
    width:350px;
    margin:20px auto;
}
