.Container{
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    padding: 4rem 4rem 4rem 4rem;
    min-height: 500px;
}

.booksHeader{
    display: table;
    padding-bottom: 2rem;
    max-width: 1120px;
    width: 90%;
}
.search{
    width: 300px;
    display:table-cell;
    vertical-align:middle;
}
.cart{
    vertical-align:middle;
    display:table-cell;
}
.cartItem{
    float:right;
}
.gridItem{
    width: 200px;
    height: 300px;
}
.paginationBar{
    display: table;
    margin: 0 auto;

}

#active{
    background-color:#e0e0e0 ;
}
