.Navbar {
    background: #00458f;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.Navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

img {
    height: 60px;

}

.Nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;

}

.Navbar-logout {
    color: #fff;
}

.Navbar-login {
    color: #fff
}

.Nav-item {
    height: 80px;
    margin-top: 1rem;
}

.Nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;

}

.Nav-links:hover {
    color: #fff;
}

.Active-link {
    color: #0a7ae5;
    border-bottom: 1px solid #fff;
}

.fa-bars {
    color: #fff;
}

.Nav-links-mobile {
    display: none;
}

.Menu-icon {
    display: none;


}


@media screen and (max-width: 1080px) {
    .NavbarItems {
        position: relative;
    }

    .Nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .Nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .Nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .Nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .Navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .Menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 40%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .Nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .Nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}
