
.Page-section{
        background: url('../../images/BooksMain.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.Page-section > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.Page-section > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}
@media screen and (max-width: 960px) {
    .Page-section > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .Page-section > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .Page-section > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}
