.container {
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    padding: 4rem 4rem 12rem 4rem;
    min-height: 500px;
}

.menu {
    float: left;
    width: 100%;
    padding-bottom: 30px;
    display: flex;
}

.menuButton {
    padding-right: 10px;

}
